name: Go

on: [push]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '18'

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Run cmd
      run: go run main.go kondoumh/Dev

    - name: Build
      run: |
        GOOS=linux GOARCH=amd64 go build -o build/linux/sb2md main.go
        GOOS=windows GOARCH=amd64 go build -o build/windows/sb2md.exe main.go
        GOOS=darwin GOARCH=amd64 go build -o build/macos/sb2md main.go
        GOOS=darwin GOARCH=arm64 go build -o build/macos_arm/sb2md main.go

    - name: Archive
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        (cd build/linux && tar cfvz ../sb2md-linux-amd64.tar.gz sb2md)
        (cd build/windows && tar cfvz ../sb2md-windows-amd64.tar.gz sb2md.exe)
        (cd build/macos && tar cfvz ../sb2md-darwin-amd64.tar.gz sb2md)
        (cd build/macos_arm && tar cfvz ../sb2md-darwin-arm64.tar.gz sb2md)

    - name: Publish
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: build/*.tar.gz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
